#root,
html,
body {
    background-color: #9AD1ED;
    color: #ffffff;
    font-family: "Roboto Condensed";
}

pink {
    color: rgb(255 105 120)
}

.blur {
    backdrop-filter: blur(10px);
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}