#root,
html,
body {
    background-color: rgba(22, 22, 22, 1);
    min-height: 100vh;
    color: #d4d4d4;
    font-family: "Roboto Condensed";
}

pink {
    color: rgb(255 105 120)
}

.blur {
    backdrop-filter: blur(10px);
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}